html {
	overflow: auto;
}

body {
	padding: 0;
	color: #fff;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	font-family: 'Open Sans', serif;
}

/*::selection {
	background: #ff0000;
	color:#fff;
}*/

::-moz-selection {
	background: #ff0000;
	color:#fff;
}

.space {
	margin-top: 5%;
	margin-bottom: 5%;
}

a {
	color: #D84A38;
}

a:hover {
	color: #666;
}

.center-text {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	text-align:center;
}	

/* Home */

#home {
	background: none !Important;
	text-align: center;
}

#home .span12 {
	padding-top: 30%;
}

#slidecaption {
	font-size: 52px;
	text-shadow: 0 1px 0 #666;
	text-transform: Capitalize;
	line-height: 1;
	font-weight: 300;
}

#slidecaption p {
	display: inline-block;
}


/* Logo */

.brand {
	transition: all 0.3s ease-out 0s;
}

.divider {
	border-bottom: 1px dotted #333;
	padding-top: 40px;
	margin-bottom: 50px;
	clear: both;
}

/* Navigation */

.navbar-inner {
	background: none;
	box-shadow: none !important;
    height: 80px;
	line-height: 60px !important;
	transition: all 0.3s ease-out 0s;
	border-bottom: none !important;
	padding-left: 20px !important;
    padding-right: 20px !important;
	background: rgba(0, 0, 0, 0.6);
}

.navbar-fixed-top {
	position: fixed;
}

.navbar .nav > li > a {
	font-family: 'Open Sans', serif;
	color: #fff;
	display: block;
	text-shadow: 0 1px 0 #666;
	height: 60px;
	transition: all 0.3s ease-out 0s;
	line-height: 58px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	background: none;
	box-shadow: none;
	background: #000;
	color: #fff;
	height: 60px;
	transition: all 0.3s ease-out 0s;

}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: #fff;
    text-decoration: none;
	background: #000;
	height: 60px;
	transition: all 0.3s ease-out 0s;
}

.move_menu {
	height: 61px;
	background: none;
	line-height: 60px;
	background: rgba(0, 0, 0, 0.6);
	transition: all 0.3s ease-out 0s;
	padding-top: 0px;
}

.move_menu a {
	height: 41px !important;
	transition: all 0.3s ease-out 0s;
	line-height: 38px !important;
}

.navbar .btn-navbar {
	float: right;
	padding: 12px 12px;
	margin: 12px 0;
	height: auto !Important;
}

/* Parallax Styles */

.parallax {
	padding:  100px 0px;
	text-align: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed !important;
	border-bottom: 10px solid rgba(0, 0, 0, 0.2);
    border-top: 10px solid rgba(0, 0, 0, 0.2);
}

#about, #services, #features, #team, #contact {
	padding: 70px 0px;
	background: #111111;
	padding-right: 20px;
	padding-left: 20px;
}

#portfolio_content {
	padding-bottom: 50px;
}

#portfolio_content {
	padding-right: 20px;
	padding-left: 20px;
}

.parallax h1 {
	font-size: 52px;
	color: #fff;
	font-family: 'Open Sans', serif;
	font-weight: 300;
	line-height: 60px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.parallax h1 strong {
	font-weight: 400;
}

.parallax p {
	font-size: 26px;
	color: #fff;
	font-family: 'Open Sans', serif;
	font-weight: 300;
	line-height: 33px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	padding-top: 10px;
}

.parallax span {
	padding: 10px;
	display: inline-block;
	padding-top: 7px;
}

.red {
	background: red;
}

.white {
	background: white;
}

.black {
	background: black;
}

.blue {
	background: blue;
}

.yellow {
	background: yellow;
}

.green {
	background: green;
}

.orange {
	background: orange;
}

.purple {
	background: purple;
}

#sliding div {
	margin: 0px auto;
	text-align: center;
	min-height: 150px;
}


/* Site Wide Section */

.site-wide {
	background-color: #666;
	position: relative;
	font-size: 22px;
	line-height: 30px;
    text-align: center;
	padding: 40px;
	font-family: 'Open Sans', serif;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}


/* Buttons */

.m-btn {
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.element_from_left {
	left: -20px;
    padding-right: 20px;
	opacity: 0;
	position: relative;
}

.element_from_right {
	right: -20px;
    padding-left: 20px;
	opacity: 0;
	position: relative;
}

/* SLider */


.pagination {
	text-align: center;
	margin-bottom: -30px;
}
.pagination a {
	background-color: #D0D0D0;
    border-radius: 10px 10px 10px 10px;
    height: 10px;
	width: 10px;
	margin: 0 5px 0 0;
	display: inline-block;
	/*box-shadow: 1px;*/
}
.pagination a.selected {
	background-color: red;
	cursor: default;
}
.pagination a span {
	display: none;
}

.carousel_wrap {
	position: relative;
}
	
.prev {
	color: #fff !important;
	text-decoration: none !important;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 0px;
	margin-top: -13px;
	display: block;
	padding: 5px 15px;
}

.next {
	color: #fff !important;
	text-decoration: none !important;
	font-size: 20px;
	position: absolute;
	top: 50%;
	display: block;
	padding: 5px 15px;
	right: 0px;
	margin-top: -13px;
}

.prev:hover, .next:hover {
	background: #777;
}

.clearfix {
	float: none;
	clear: both;
}

/* Arrow */

#arrow img {
    animation: 750ms ease-in-out 0s alternate none infinite scroll-arrow-animation;
    left: 0;
    position: absolute;
    top: 0;
}


#arrow {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 80px;
	margin: 0px auto;
}


/* Content */

.content {
	position: relative;
}

.content h1 {
	text-align: center;
	font-weight: 300;
	margin-bottom: 30px;
	font-size: 45px;
	line-height: 1;
}

.content h4 {
	text-align: center;
	line-height: 24px;
}
/* SERVICES */

.services {
	margin-top: 30px;
}

.service {
	margin-top: 10px;
	padding: 0px 10px;
	padding-bottom: 30px;
	padding-top: 10px;
	transition: all 0.3s ease-out 0s;
	display: inline-block;
	text-align: center;
}

.service:hover {
	background: #222;
}

.service h2 {
	font-weight: 300;
}	

.service .serviceicon {
	width: 130px;
	height: 130px;
	font-size: 70px;
	line-height: 130px;
	background: #333;
	color: #ccc;
	margin-bottom: 20px;
	margin-top: 20px;
	display: inline-block;
	transition: all 0.3s ease-out 0s;
	border: 2px solid #333;
	
}

.service:hover .serviceicon {
	background: #444;
	border: 2px solid #ccc;
	transform:scale(1.1,1.1);
	-ms-transform:scale(1.1,1.1); /* IE 9 */
	-webkit-transform:scale(1.1,1.1); /* Safari and Chrome */
}


/* Team */

@media (min-width: 979px) {

	.thumb_image {
		overflow: hidden;
		width: 370px;
	}

	.thumb_image img {
		transition: all 0.3s ease-out 0s;
	}

	.span4:hover .thumb_image img {
		transform:scale(1.1,1.1);
		-ms-transform:scale(1.1,1.1); /* IE 9 */
		-webkit-transform:scale(1.1,1.1); /* Safari and Chrome */
	}

}

.desc {
	font-style: italic;
}

.team_links {
	margin-bottom: 20px;
}

/* Portfolio */

.portfolio {
	margin-top: 30px;
	text-align: center;
	background: #444;
}

.portfolio p {
	text-align: justify;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 13px;
	padding-bottom: 5px;
}

.portfolio h4 {
	font-weight: 500;
	padding: 0px 20px;
}

@media (min-width: 979px) {

	.portfolio .thumbImage {
		overflow: hidden;
	}

	.portfolio img {
		transition: all 0.3s ease-out 0s;
	}

	.span3:hover .thumbImage img {
		transform:scale(1.1,1.1);
		-ms-transform:scale(1.1,1.1); /* IE 9 */
		-webkit-transform:scale(1.1,1.1); /* Safari and Chrome */
	}

}

.portfolio .thumbImage {
	margin-bottom: 15px;
	border-bottom: 2px solid #222;
}

.portfolio a {
	text-align: left;
	color: #fff;
	font-size: 18px;
}

.portfolio a:hover {
	text-decoration: none;
	color: #ccc;
}


#portfolio_container {
	margin-bottom: 50px;
	margin-top: 20px;
}

.portfolio_filter {
	background: #333;
	text-align: center;
}

.portfolio_filter ul {
	margin: 0px !Important;
}

.portfolio_filter li {
	list-style: none;
	display: inline-block;
	margin-right: -4px;
}

.portfolio_filter li a {
	color: #fff;
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	border-left: 1px solid #555;
	line-height: 50px;
}

.portfolio_filter li a:hover {
	background: #111;
	text-decoration: none;
}

.portfolio_filter .selected {
	background: #111;
}

.portfolio_filter li:first-child a {
	border-left: none;
}	

/* Carousel */

.carousel_nav {
	display: block;
	float: right;
	margin-right: 0px;
}

.carousel_nav:before, .carousel_nav:after {
	clear: both;
}

.carousel_prev, .carousel_next {
	background: #333;
	padding: 3px 10px;
	display: inline-block;
	cursor: pointer;
	line-height: 12px;
}

.carousel_prev:hover, .carousel_next:hover {
	background: #444;
}


/* Contact */

input[type="text"], textarea, select {
	border: none;
	background: #444;
	color: #fff;
	box-shadow: none !important;
	width: 90%;
}

textarea {
	width: 97%;
}

#contact {
	padding: 50px 0px;
	padding-right: 20px;
	padding-left: 20px;
}

.error {
	background: #ff0000 !Important;
}

.submitbutton {
	margin-top: 10px;
	margin-right: -2px;
}

#errors span {
	color: #ff0000;
	display: block;
	text-align: center;
}

/* Footer */

footer {
	background: #333;
	line-height: 50px;
}

.footernav {
	text-align: right;
	margin: 0px;
	color: #666;
}

.footernav li {
	display: inline-block;
}

.footernav li a {
	color: #fff;
}

/* Miscelenious */
.thumbImage > a img {
    -moz-box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.thumbImage > a > img-overlay {
    -moz-box-sizing: border-box;
    height: 100%;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s ease-out 0s;
    width: 100%;
    z-index: 999;
}
.thumbImage > a > .img-overlay > span {
    display: block;
    height: 100%;
    width: 100%;
}
.thumbImage > a > .img-overlay > span:before {
    -moz-box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 50% 50% 50% 50%;
    color: #FFFFFF;
    content: "ïƒ";
    font-family: FontAwesome;
    font-size: 22px;
    height: 52px;
    left: 50%;
    line-height: 50px;
    margin: -32px 0 0 -32px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 45%;
    transition: all 0.3s ease-out 0s;
    width: 52px;
}
.thumbImage > a:hover > .img-overlay {
    opacity: 1;
}
.thumbImage > a:hover > .img-overlay span:before {
    opacity: 1;
    top: 34%;
}

.thumbImage img { width: 100%; }

#map {	height: 500px;} @media (max-width: 570px){	#map {		height: 170px; 	}}

.bar {
	text-align: left!important;
	margin: 0px!important;	
}

.bar li {
	list-style: none!important;
}

.bar li:last-child span {
	margin-bottom: 0px;
}

.bar li .bar-wrap {
	margin-bottom:13px;
	border-radius: 300px 300px 300px 300px;
	-webkit-border-radius: 300px 300px 300px 300px;
	-o-border-radius: 300px 300px 300px 300px;
	-moz-border-radius: 300px 300px 300px 300px;
}

.bar li span { 
	height: 15px;
	width: 0px;
	display: block;
	background-color: #D84A38;
	border-radius: 300px 300px 300px 300px;
	-webkit-border-radius: 300px 300px 300px 300px;
	-o-border-radius: 300px 300px 300px 300px;
	-moz-border-radius: 300px 300px 300px 300px;
}

.bar li p {
	padding-bottom: 2px;
}

.bar li span {
	overflow: visible!important;
	position: relative;
}

.bar li span strong {
	position: absolute;
	top: 1px;
	right: 20px;
	color: #fff;
	line-height: 12px!important;
	font-size: 11px!important;
	display: block;
}

.left {
	float: left;
}

.right {
	float: right;
}

.address li {
	list-style: none;
	line-height: 28px;
}

.social li a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	margin-right: 15px;
	margin-left: 5px;
}

.social li a:hover {
	color: #ccc;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  /*pointer-events: none;*/
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */


/* Flickr */
.flickrimages {
	margin-right: -12px; 
	margin-top: 15px;
	margin-bottom: 25px;
	text-align: center;
	padding-top: 10px;
}

.flickrimages a {
	margin-right: 14px;
	margin-bottom: 14px;
	display: inline-block;
	border: 1px solid #333;
	padding: 3px;
	transition: all 0.3s ease-in-out;
}

.flickr_badge_image {
	display: inline-block;
}

.flickrimages a:hover {
	border: 1px solid #fff;
}

.flickrimages img {
	display: inline-block;
}

/* Pricing Tables */

.pricing-table {
	list-style: none;
	position: relative;
	margin: 0 0 30px 0;
	padding: 0px;
	text-align: center;
}

.pricing-table .title {
    color: #FFFFFF;
    font-size: 20px;
    padding: 14px 10px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3), 1px 1px 0 rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    background: #555;
}

.pricing-table .price {
    background: #555;
    color: #FFFFFF;
    font-size: 40px;
    line-height: normal;
    padding: 10px 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3), 1px 1px 0 rgba(255, 255, 255, 0.2);
}


.pricing-table .price span {
    font-size: 16px;
}


.pricing-table .pricing-list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.pricing-table .pricing-list li {
    border-bottom: 1px solid #111;
    padding: 10px 20px;
}

.pricing-table .cta-button {
	padding: 20px;
	background: #555;
	text-transform: uppercase;
	border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

.pricing-table .pricing-list li:nth-child(odd) {
    background: #333;
}

/* Accordion */

.accordion dt {
	background: #333;
	cursor: pointer;
	padding: 10px;
	border-radius: 6px 6px 6px 6px;
	margin-bottom: 5px;
}

.accordion .accordion-active {
	background: #666 !important;
}
	
.accordion dt span {
	font-weight: normal;
}

.accordion-content {
	padding-bottom: 10px;
	padding-top: 5px;
}

/* Toggle */

.toggle-title {
	background: #333;
	cursor: pointer;
	padding: 10px;
	border-radius: 6px 6px 6px 6px;
	margin-bottom: 5px;
	display: block;
	color: #fff;
}

.toggle-title a {
	color: #fff;
	text-decoration: none;
}
	
.toggle_container {
	padding-bottom: 10px;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
}

.toggle-active {
	background: #666 !important;
}

/*  Tabs  */
		
ul.tabs { overflow: hidden; margin: 0px; }
ul.tabs li { float: left; margin: 0px; list-style: none; }
		
ul.tabs li a {
	display: block;
	background-color: #333;
	border: 1px solid #333;
	padding: 6px 20px;
	margin-right: 3px;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
}
		
ul.tabs .tab-active a { background-color: #666; border-bottom: 1px solid #666; color: #fff; }
		
.tab_container {
	clear: both;
	padding: 20px 25px;
	border: 1px solid #333;
	margin-top: -1px;
}

.flex-video iframe {
	border: none !important;
}

/* Mobile */

@media (max-width: 979px) {
	.navbar  {
		padding: 0 20px;
		margin-bottom: 0;
	}
	
	.navbar-inner {
		height: auto !important;
		line-height: 39px !important;
		background: rgba(0, 0, 0, 0.6);
	}
	
	.navbar .nav > li > a {
		height: auto !important;
		line-height: 16px !important;
	}

	.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
		height: auto !important;
		line-height: 16px !important;
	}

	.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
		height: auto !important;
		line-height: 16px !important;
	}
	
	.flex-video iframe {
		width: 100% !important;
	}
	
	.portfolio_filter li {
		display: block;
	}
	
	.portfolio_filter li a {
		color: #fff;
		padding-left: 30px !important;
		padding-right: 30px !important;
		border-left: none !important;
		line-height: 30px !important;
	}
	
	.thumb_image img{
		width: 100%;
	}
	
	footer .span6 {
		text-align: center;
	}
	
	footer .span6 .footernav {
		text-align: center;
	}
}


/* Preload */

#preload {
	position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	z-index: 999999;
}

#over {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(images/preload.gif);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}

